@media (max-width: 991px) {
    body{
        & header{
            & nav {
                .container {
                    .collapse {
                        .navbar-nav{
                            & li {
                                transition-property: all;
                                transition-duration: 0.3s;
                            }
                            & li:hover {
                                background-color: rgba(74,117,117,1);
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 576px){
    body {
        .bg1{
            .container{
                .title{
                    margin: 0 auto;
                    margin-bottom: 30px;
                    font-size: 50px;
                }
                .txtdiv {
                    padding: 0 15px;
                    .treetext {
                        text-align: center;
                    }
                }
                .tixari1 {
                    margin: 0 auto;
                    margin-bottom: 45px;
                }
                .morebox {
                    width: 180px;
                    margin: 0 auto;
                }

            }
        }
        .section6{
            .container{
                .sec6list{
                    & p {
                        align-self: center;
                        margin-bottom: 10px;
                    }
                    flex-direction: column;
                    font-size: 16px;
                    max-width: 380px;
                    width: 100%;
                    margin-bottom: 82px;
                }
            }
        }
        .section6 {
            .dsplN {
                display: none;
            }
            .cardiv {
                display: block;
            }
        }
    }
}
@media (max-width: 320px){
    body {
        .bg1{
            .container{
                .txtdiv {
                    padding: 0 15px;
                }
                .title{
                    margin: 0 auto;
                    margin-bottom: 30px;
                    font-size: 40px;
                }
            }
        }
    }
}
@media (max-width: 768px){
    body{
        .footer{
            .container{
                .row{
                    .social {
                        display: none;
                    }
                    .dropdown{
                        display: block;
                        //padding-bottom: 25px;
                    }
                }
            }
        }
    }
}