@media (max-width: 576px){
    body {
        .bg1{
            .container{
                .title{
                    font-size: 50px;
                }
            }
        }
        .section6{
            .container{
                .sec6list{
                    & p {
                        align-self: center;
                        margin-bottom: 10px;
                    }
                    flex-direction: column;
                    font-size: 16px;
                    max-width: 380px;
                    width: 100%;
                    margin-bottom: 82px;
                }
            }
        }
    }
}