@import 'reset';
html {
    scroll-behavior: smooth;
  }
body {
    .bg1 {
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 1000px;
    }
    header{
        background-color:rgba(1,0,0,0.5);
        width: 100%;
        .mynav {
            .nav-link{
                cursor: pointer;
            }
            max-width: 1170px;
            width: 100%;
            margin: 0 auto;
            align-items: center;
            & nav {
                .navbar-brand {
                    transition-property: all;
                    transition-duration: 0.3s;
                }
                .navbar-brand:hover {
                    border: 1px solid transparent;
                    border-radius: 8px;
                    text-shadow: 2px 2px 4px;
                    background-color: #03a0a0;
                    transform: scale(1.05);
                }
            }
        }
    }
    .mycont {
        flex-direction: column;
        padding: 0;
        margin-top: 351px;
        .title{
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 72px;
            color: #212121;
            margin-bottom: 30px;
            font-weight: bold;
        }
        .tixari1{
            width: 138px;
            height: 4px;
            background-color: #232323;
            margin-bottom: 45px;
        }
        .txtdiv{
            max-width: 570px;
            width: 100%;
            margin-bottom: 46px;
            .treetext{
                font-family: 'Source Sans Pro', sans-serif;
                line-height: 1.6;
                color: #212121;
                font-size: 18px;
                text-align: right;
            }    
        }
        .morebox{
            font-family: 'Open Sans', sans-serif;
            text-decoration: none;
            width: 273px;
            border-style: solid;
            border-width: 2px;
            border-color: #212121;
            display: flex;
            justify-content: center;
            padding: 15px 0;
            transition-property: all;
            transition-duration: 0.3s;
            & p {
                font-size: 18px;
                font-weight: bold;
                color: #212121;
                
            }
        }
        .morebox:hover {
            transform: scale(1.05);
        }
    }
    .section2 {
        & div {
            & img {
                width: 55px;
                margin-top: 100px;
                margin-bottom: 22px;
            }
            & h1 {
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 27px;
                color: #212121;
                margin-bottom: 71px;
                font-weight: bold;
            }
            & div {
                max-width: 970px;
                width: 100%;
                margin-bottom: 112px;
                .sec2text{
                    font-family: 'Source Sans Pro', sans-serif;
                    line-height: 1.6;
                    font-size: 16px;
                    color: #212121;
                    text-align: center;
                }
            }
        }
    }
    .section3{
        background-color: #EFEFEF;
        padding-top: 78px;
        padding-bottom: 110px;
        .container{
            .row{
                & div {
                    padding-left: 0px;
                    padding-right: 0px;
                    & img {
                        padding-bottom: 30px;
                        margin-left: 55px;
                    }
                    & h3 {
                        font-family: 'Open Sans', sans-serif;
                        font-size: 18px;
                        color: #212121;
                        padding-bottom: 35px;
                        margin-left: 55px;
                        font-weight: bold;
                    }
                    & div {
                        max-width: 270px;
                        margin-left: 55px;
                        & p {
                            font-family: 'Source Sans Pro', sans-serif;
                            line-height: 1.6;
                            font-size: 16px;
                            color: #212121;
                        }                    
                    }
                }
            }
        }
    }
    .section4{
        padding-top: 107px;
        padding-bottom: 140px;
        .container{
            .div1{
                margin-bottom: 105px;
                display: flex;
                flex-direction: column;
                & h1 {
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 27px;
                    color: #212121;
                    padding-bottom: 41px;
                    font-weight: bold;
                }
                & div {
                    max-width: 768px;
                    & p {
                        font-family: 'Source Sans Pro', sans-serif;
                        line-height: 1.6;
                        text-align: center;
                        font-size: 16px;
                        color: #212121;
                    }
                }
            }
        }
        .container{
            .row{
                & div {
                    background-color: #222222;
                    //padding: 0;
                    padding-top: 68px;
                    max-width: 368px;
                    .boxtitle{
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 14px;
                        color: #EEEEEE;
                        margin-left: 38px;                        
                    }
                    .blboxtxtdiv {
                        max-width: 270px;
                        padding-top: 34px;
                        padding-bottom: 65px;
                        & h1 {
                            font-family: 'Source Sans Pro', sans-serif;
                            line-height: 1.6;
                            font-size: 24px;
                            color: #EEEEEE;
                            margin-left: 38px;
                        }
                    }
                    .name{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        color: #EEEEEE;
                        margin-left: 38px;
                        padding-bottom: 10px;
                    }
                    .date{
                        font-family: 'Open Sans', sans-serif;
                        font-size: 14px;
                        color: #EEEEEE;
                        margin-left: 38px;
                        padding-bottom: 66px;
                    }
                }
            }
        }
    }
    .section5{
        background-color: #EFEFEF;
        padding-top: 68px;
        padding-bottom: 110px;
        .container{
            margin-bottom: 68px;
            & h1 {
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 27px;
                font-weight: bold;
                color: #212121;
            }
        }
    }
    .section6{
        padding-top: 110px;
        padding-bottom: 110px;
        .container{
            & h1 {
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 27px;
                margin-bottom: 40px;
                font-weight: bold;
            }
            .sec6textdiv{
                font-family: 'Source Sans Pro', sans-serif;
                line-height: 1.6;
                max-width: 768px;
                font-size: 16px;
                margin-bottom: 37px;
            }
            .sec6tixari{
                width: 75px;
                height: 7px;
                background-color: #E64A19;
                margin-bottom: 50px;
            }
            .sec6list{
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 16px;
                max-width: 380px;
                width: 100%;
                margin-bottom: 82px;
            }
        }
        .container{
            .row{
                & img {
                    transition-property: all;
                    transition-duration: 0.3s;
                }
                & img:hover{
                    transform: scale(1.05);
                }
            }
        }
    }
    .section7{
        padding-top: 120px;
        padding-bottom: 65px;
        background-color: #212121;
        .container{
            .sec7textdiv{
                font-family: 'Source Sans Pro', sans-serif;
                line-height: 1.6;
                max-width: 870px;
                font-size: 20px;
                margin-bottom: 35px;
                color: #EEEEEE;
            }
            & p{
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 20px;
                color: #EEEEEE;
            }
        }
    }
    .section8{
        padding-top: 152px;
        padding-bottom: 125px;
        .container{
            & h1 {
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 27px;
                font-weight: bold;
                color: #212121;
                margin-bottom: 55px;
            }
            .sec8textdiv{
                font-family: 'Source Sans Pro', sans-serif;
                line-height: 1.6;
                max-width: 768px;
                font-size: 16px;
                color: #212121;
                margin-bottom: 100px;
            }
        }
        .container{
            .row{
                & div {
                    & img{
                        margin-bottom: 55px;
                    }
                    .sec8name{
                        font-size: 16px;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-weight: bold;
                        color: #212121;
                        margin-bottom: 20px;
                    }
                    .sec8profession{
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 15px;
                        color: #212121;
                    }
                }
            }
        }
    }
    .bg9{
        max-width: 100%;
        height: 697px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;       
    }
    .section9 {
        .opabg {
            padding-top: 110px;
            .container {
                & h1 {
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 27px;
                    font-weight: bold;
                    color: #EEEEEE;
                }
            }
            .bgcon2 {
                max-width: 830px;
                background-color: #EEEEEE;
                margin-top: 63px;
                padding-bottom: 69px;
                .row {
                    padding-top: 61px;
                    padding-bottom: 52px;
                    & div {
                        & p {
                            font-family: 'Source Sans Pro', sans-serif;
                            font-size: 27px;
                            color: red;
                        }
                        .xz {
                            width: 75px;
                            height: 4px;
                            background-color: #4D4C4B;
                            margin-bottom: 18px;
                            margin-top: 18px;
                        }
                    }
                }
                .row {
                    & div {
                        & p {
                            font-family: 'Source Sans Pro', sans-serif;
                            font-size: 27px;
                            color: red;
                        }
                        .xz {
                            width: 75px;
                            height: 4px;
                            background-color: #4D4C4B;
                            margin-bottom: 18px;
                        }
                    }
                }
            }
            .redtx {
                width: 75px;
                height: 7px;
                background-color: #E64A19;
            }
        }
    }
    .section10{
        padding-top: 118px;
        padding-bottom: 96px;
        .container{
            .mrgtp{
                margin-top: 44px;
            }
            .row{
                & div{
                    & p{font-family: 'Source Sans Pro', sans-serif;
                        margin-top: 83px;
                        font-size: 14px;
                        color: #555555;
                    }
                    & h1{
                        font-family: 'Open Sans', sans-serif;
                        margin-top: 17px;
                        margin-bottom: 55px;
                        font-size: 24px;
                        color: #222222;
                    }
                    .sec10textdiv{
                        & p {
                            font-family: 'Source Sans Pro', sans-serif;
                            line-height: 1.6;
                            margin-top: 0px;
                            color: #333333;
                        }
                        max-width: 430px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .section11{
        background-color: #EFEFEF;
        padding-top: 75px;
        padding-bottom: 73px;
        .container{
            .row{
                & div{
                    .sec11txr{
                        width: 6px;
                        height: 73px;
                        background-color: #212121;
                    }
                    & div {
                        .sec11title {
                            font-family: 'Open Sans', sans-serif;
                            margin-left: 19px;
                            font-size: 18px;
                            color: #222222;
                            margin-bottom: 15px;
                        }
                        .sec11date {
                            font-family: 'Source Sans Pro', sans-serif;
                            margin-left: 19px;
                            font-size: 14px;
                            color: #555555;
                        }
                    }
                }
            }
        }
    }
    .footer{
        padding-top: 88px;
        background-color: #212121;
        padding-bottom: 65px;
        .container{
            .row{
                .Ldiv{
                    & h1 {
                        font-family: 'Source Sans Pro', sans-serif;
                        margin-bottom: 35px;
                        font-size: 22px;
                        color: #EEEEEE;
                        font-weight: bold;
                    }
                    & div {
                        max-width: 430px;
                        margin-bottom: 35px;
                        .foottext{
                            font-family: 'Source Sans Pro', sans-serif;
                            line-height: 1.6;
                            font-size: 14px;
                            color: #999999;
                        }
                    }
                    & form {
                        .form-group{
                            margin-bottom: 0px;
                            .form-control{
                                border-top: none;
                                border-right: none;
                                border-left: none;
                                border-radius: 0;
                                border-bottom-color: #808080;
                                background-color: #212121;
                            }
                            .EMSUBDIV{
                                font-family: 'Source Sans Pro', sans-serif;
                                margin-bottom: 20px;
                                max-width: 198px;
                            }
                            .MSDIV{
                                font-family: 'Source Sans Pro', sans-serif;
                                margin-bottom: 88px;
                                max-width: 428px;
                            }
                        }
                        .btn-primary{
                            font-family: 'Source Sans Pro', sans-serif;
                            border: hidden;
                            background-color: #212121;
                            transition-property: all;
                            transition-duration: 0.3s;
                            
                        }
                        .btn-primary:hover{
                            background-color: #03a0a0;
                            text-shadow: 3px 3px 4px #000;
                        }
                    }
                }
                .social{
                    & h2 {
                        font-family: 'Open Sans', sans-serif;
                        font-size: 15px;
                        color: #DDDDDD;
                        margin-bottom: 35px;
                    }
                    .list-group{
                        .list-group-item{
                            font-family: 'Source Sans Pro', sans-serif;
                            padding: 0px;
                            margin-bottom: opx;
                            background-color: #212121;
                            color: #999999;
                            border: none;
                            margin-bottom: 12px;
                            transition-property: all;
                            transition-duration: 0.3s;
                        }
                        .list-group-item:hover {
                            transform: scale(1.05);
                            color: red;
                            text-shadow: 2px 2px 4px #000;
                        }
                    }
                }
            }
        }
        .foottx{
            max-width: 1170px;
            width: 100%;
            height: 1px;
            background-color: #808080;
            margin-bottom: 33px;
            margin-top: 16px;
        }
        .comm{
            max-width: 1170px;
            width: 100%;
            & p{
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 14px;
                color: #AAAAAA;
            }
        }
    }
}
@import 'responsive';