@import 'reset';
body {
    .bg1 {
        //position: relative;
        background-size: cover;
        background-position: center;
        //background-attachment: fixed;
        background-repeat: no-repeat;
        //width: 100%; 
        height: 1000px;
    }
    header{
        background-color:rgba(1,0,0,0.5);
        width: 100%;
        .mynav {
            max-width: 1170px;
            width: 100%;
            margin: 0 auto;
            align-items: center;
        }
    }
    .mycont {
        flex-direction: column;
        justify-content: flex-end;
        padding: 0;
        .title{
            font-size: 72px;
            color: #212121;
        }
        .tixari1{
            width: 138px;
            height: 4px;
            background-color: #232323;
           // text-align: right;
        }
        .txtdiv{
            width: 558px;
            margin-bottom: 60px;
            background: blue;
            .treetext{
                color: #212121;
                font-size: 18px;
                text-align: right;
            }    
        }
        .morebox{
            width: 273px;
            border-style: solid;
            border-width: 2px;
            border-color: #212121;
            display: flex;
            justify-content: center;
            padding: 15px 0;
            & p {
                font-size: 18px;
                color: #212121;
                
            }
        }
    }
}