body {
    .bg1 {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%; 
        height: 1000px;
    }
    header{
        background-color:rgba(1,0,0,0.5);
        width: 100%;
        .mynav {
            background-color: aqua;
            max-width: 1170px;
            width: 100%;
            margin: 0 auto;
            align-items: center;
        }
    }
}