@import 'reset';
body {
    .bg1 {
        background-size: cover;
        background-position: center;
        //background-attachment: fixed;
        background-repeat: no-repeat;
        height: 1000px;
    }
    header{
        background-color:rgba(1,0,0,0.5);
        width: 100%;
        .mynav {
            max-width: 1170px;
            width: 100%;
            margin: 0 auto;
            align-items: center;
        }
    }
    .mycont {
        flex-direction: column;
        padding: 0;
        margin-top: 351px;
        .title{
            font-size: 72px;
            color: #212121;
            margin-bottom: 30px;
        }
        .tixari1{
            width: 138px;
            height: 4px;
            background-color: #232323;
            margin-bottom: 45px;
        }
        .txtdiv{
            max-width: 570px;
            width: 100%;
            margin-bottom: 46px;
            .treetext{
                color: #212121;
                font-size: 18px;
                text-align: right;
            }    
        }
        .morebox{
            width: 273px;
            border-style: solid;
            border-width: 2px;
            border-color: #212121;
            display: flex;
            justify-content: center;
            padding: 15px 0;
            & p {
                font-size: 18px;
                color: #212121;
                
            }
        }
    }
    .section2 {
        & div {
            & img {
                width: 55px;
                margin-top: 100px;
                margin-bottom: 22px;
            }
            & h1 {
                font-size: 27px;
                color: #212121;
                margin-bottom: 71px;
            }
            & div {
                max-width: 970px;
                width: 100%;
                margin-bottom: 112px;
                .sec2text{
                    font-size: 16px;
                    color: #212121;
                    text-align: center;
                }
            }
        }
    }
    .section3{
        background-color: #EFEFEF;
        padding-top: 78px;
        padding-bottom: 110px;
        .container{
            .row{
                & div {
                    padding-left: 0px;
                    padding-right: 0px;
                    & img {
                        padding-bottom: 30px;
                        margin-left: 55px;
                    }
                    & h3 {
                        font-size: 18px;
                        color: #212121;
                        padding-bottom: 35px;
                        margin-left: 55px;
                    }
                    & div {
                        max-width: 270px;
                        margin-left: 55px;
                        & p {
                            font-size: 16px;
                            color: #212121;
                        }                    
                    }
                }
            }
        }
    }
    .section4{
        padding-top: 107px;
        .container{
            padding-top: 110px;
            padding-bottom: 140px;
            .div1{
                display: flex;
                flex-direction: column;
                & h1 {
                    font-size: 27px;
                    color: #212121;
                    padding-bottom: 41px;
                }
                & div {
                    max-width: 768px;
                    width: 100%;
                    & p {
                        text-align: center;
                        font-size: 16px;
                        color: #212121;
                    }
                }
            }
            .row{
                & div {
                    background-color: #222222;
                    padding: 0;
                    padding-top: 68px;
                    max-width: 368px;
                    width: 100%;
                    .boxtitle{
                        font-size: 14px;
                        color: #EEEEEE;
                        margin-left: 38px;                        
                    }
                    .blboxtxtdiv {
                        max-width: 270px;
                        width: 100%;
                        padding-top: 34px;
                        padding-bottom: 65px;
                        & h1 {
                            font-size: 24px;
                            color: #EEEEEE;
                            margin-left: 38px;
                        }
                    }
                    .name{
                        font-size: 14px;
                        color: #EEEEEE;
                        margin-left: 38px;
                        padding-bottom: 10px;
                    }
                    .date{
                        font-size: 14px;
                        color: #EEEEEE;
                        margin-left: 38px;
                        padding-bottom: 66px;
                    }
                }
            }
        }
    }
    .section5{
        background-color: #EFEFEF;
        padding-top: 68px;
        .container{
            margin-bottom: 68px;
            & h1 {
                font-size: 27px;
                color: #212121;
            }
        }
    }
}