html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body .bg1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1000px; }

body header {
  background-color: rgba(1, 0, 0, 0.5);
  width: 100%; }
  body header .mynav {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    align-items: center; }

body .mycont {
  flex-direction: column;
  padding: 0;
  margin-top: 351px; }
  body .mycont .title {
    font-size: 72px;
    color: #212121;
    margin-bottom: 30px;
    font-weight: bold; }
  body .mycont .tixari1 {
    width: 138px;
    height: 4px;
    background-color: #232323;
    margin-bottom: 45px; }
  body .mycont .txtdiv {
    max-width: 570px;
    width: 100%;
    margin-bottom: 46px; }
    body .mycont .txtdiv .treetext {
      color: #212121;
      font-size: 18px;
      text-align: right; }
  body .mycont .morebox {
    width: 273px;
    border-style: solid;
    border-width: 2px;
    border-color: #212121;
    display: flex;
    justify-content: center;
    padding: 15px 0; }
    body .mycont .morebox p {
      font-size: 18px;
      font-weight: bold;
      color: #212121; }

body .section2 div img {
  width: 55px;
  margin-top: 100px;
  margin-bottom: 22px; }

body .section2 div h1 {
  font-size: 27px;
  color: #212121;
  margin-bottom: 71px;
  font-weight: bold; }

body .section2 div div {
  max-width: 970px;
  width: 100%;
  margin-bottom: 112px; }
  body .section2 div div .sec2text {
    font-size: 16px;
    color: #212121;
    text-align: center; }

body .section3 {
  background-color: #EFEFEF;
  padding-top: 78px;
  padding-bottom: 110px; }
  body .section3 .container .row div {
    padding-left: 0px;
    padding-right: 0px; }
    body .section3 .container .row div img {
      padding-bottom: 30px;
      margin-left: 55px; }
    body .section3 .container .row div h3 {
      font-size: 18px;
      color: #212121;
      padding-bottom: 35px;
      margin-left: 55px;
      font-weight: bold; }
    body .section3 .container .row div div {
      max-width: 270px;
      margin-left: 55px; }
      body .section3 .container .row div div p {
        font-size: 16px;
        color: #212121; }

body .section4 {
  padding-top: 107px;
  padding-bottom: 141px; }
  body .section4 .container {
    padding-bottom: 140px; }
    body .section4 .container .div1 {
      display: flex;
      flex-direction: column; }
      body .section4 .container .div1 h1 {
        font-size: 27px;
        color: #212121;
        padding-bottom: 41px;
        font-weight: bold; }
      body .section4 .container .div1 div {
        max-width: 768px; }
        body .section4 .container .div1 div p {
          text-align: center;
          font-size: 16px;
          color: #212121; }
    body .section4 .container .row div {
      background-color: #222222;
      padding: 0;
      padding-top: 68px;
      max-width: 368px; }
      body .section4 .container .row div .boxtitle {
        font-size: 14px;
        color: #EEEEEE;
        margin-left: 38px; }
      body .section4 .container .row div .blboxtxtdiv {
        max-width: 270px;
        padding-top: 34px;
        padding-bottom: 65px; }
        body .section4 .container .row div .blboxtxtdiv h1 {
          font-size: 24px;
          color: #EEEEEE;
          margin-left: 38px; }
      body .section4 .container .row div .name {
        font-size: 14px;
        color: #EEEEEE;
        margin-left: 38px;
        padding-bottom: 10px; }
      body .section4 .container .row div .date {
        font-size: 14px;
        color: #EEEEEE;
        margin-left: 38px;
        padding-bottom: 66px; }

body .section5 {
  background-color: #EFEFEF;
  padding-top: 68px;
  padding-bottom: 110px; }
  body .section5 .container {
    margin-bottom: 68px; }
    body .section5 .container h1 {
      font-size: 27px;
      font-weight: bold;
      color: #212121; }

body .section6 {
  padding-top: 110px;
  padding-bottom: 110px; }
  body .section6 .container h1 {
    font-size: 27px;
    margin-bottom: 40px;
    font-weight: bold; }
  body .section6 .container .sec6textdiv {
    max-width: 768px;
    font-size: 16px;
    margin-bottom: 37px; }
  body .section6 .container .sec6tixari {
    width: 75px;
    height: 7px;
    background-color: #E64A19;
    margin-bottom: 50px; }
  body .section6 .container .sec6list {
    max-width: 380px;
    width: 100%;
    margin-bottom: 82px; }

body .section7 {
  padding-top: 120px;
  padding-bottom: 65px;
  background-color: #212121; }
  body .section7 .container .sec7textdiv {
    max-width: 870px;
    font-size: 20px;
    margin-bottom: 35px;
    color: #EEEEEE; }
  body .section7 .container p {
    font-size: 20px;
    color: #EEEEEE; }

body .section8 {
  padding-top: 152px;
  padding-bottom: 125px; }
  body .section8 .container h1 {
    font-size: 27px;
    font-weight: bold;
    color: #212121;
    margin-bottom: 55px; }
  body .section8 .container .sec8textdiv {
    max-width: 768px;
    font-size: 16px;
    color: #212121;
    margin-bottom: 100px; }
  body .section8 .container .row div img {
    margin-bottom: 55px; }
  body .section8 .container .row div .sec8name {
    font-size: 16px;
    font-weight: bold;
    color: #212121;
    margin-bottom: 20px; }
  body .section8 .container .row div .sec8profession {
    font-size: 15px;
    color: #212121; }

body .bg9 {
  max-width: 100%;
  height: 697px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
